*{
    margin: 0;
    padding: 0;
}
body{
    background: rgb(43, 43, 43);

}
.error{
    display:none ;
}
.container{
    display: flex;
}
.main .ham{
    display: none;
}

.sidebar ul {
    display: flex;
    position: fixed;
    right: 0%;
    padding: 3px 1px;
    /* border-top: #ffffff solid 2px;
    border-left: #ffffff solid 2px;
    border-bottom: #ffffff solid 2px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    background-color: rgb(53, 53, 53);
    box-shadow:rgb(0, 0, 0) 5px 0px 10px; */
    top:15px;
}
.sidebar ul li {
    list-style: none;
    padding-right: 25px ;
    padding-left: 25px;
}
.sidebar ul li a{
    text-decoration: none;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    color: rgb(255, 255, 255);
    text-shadow: rgb(3, 3, 3) 5px 0px 10px;
}
.sidebar ul li a:hover{
    font-size: 20px;
    background-color: rgb(43, 43, 43);
    text-shadow: none;
    font-weight: 600;
    padding-right: 9px;
    padding-left: 9px;
    padding-bottom: 5px;
    padding-top: 5px;
    border: 1px solid white;
    border-radius: 25px;
    box-shadow:rgb(3, 3, 3) 5px 0px 10px;
    color: #ffffff;
    transition: 0.2s;
    text-shadow: rgb(3, 3, 3) 5px 0px 10px;
}
.sidebar .ham{
   display: none;
}
.main {
    display: flex;
    font-family: 'Josefin Sans', sans-serif;
    align-items: center;
    justify-content: center;
    position: fixed;
    min-height: 10rem;
    margin: 5rem 9.8rem;
    padding: 200px 50px;
    border: 2px solid white;
    border-radius: 15px;
    box-shadow: rgb(3 3 3) 5px 10px 10px;
    width: 2167px;
}
.hello{
    font-size: 35px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 200;
    color: #fa8212;
    text-shadow: rgb(3, 3, 3) 5px 0px 10px;
}
.name{
    font-size: 50px;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    margin-top: -5px;
    color: rgb(255, 255, 255);
    text-shadow: rgb(3, 3, 3) 5px 0px 10px;
}
.name em{
    font-size: 17px;
    font-weight: 700;
    color: rgba(0, 255, 60, 0.436);
    text-shadow: none;
}
.info{
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 30px;
    color:  #00c0fb;
    font-weight: 600;
    margin-top: 10px;
    text-shadow: rgb(3, 3, 3) 5px 0px 10px;
}
.info p{
    font-size: 23px;
    width:700px;
    color: rgba(255, 255, 255, 0.384);
    margin-top: 10px;
    text-shadow: rgb(3, 3, 3) 5px 0px 10px;
}
.info p em{
    font-size: 23px;
    width:700px;
    color: rgb(255, 255, 255);
    margin-top: 10px;
    text-shadow: none;
    
}
.image{
    margin-left: 8px;
    margin-top: -33px;
}
.image img{
    width: 300px;
    height: 300px;
    /* box-shadow: rgb(3, 3, 3) 5px 15px 5px;
    border-radius: 46%; */
}
.button{
    display: flex;
    padding-left: 5px;
}
.button li{
    margin-top: 25px;
    list-style: none;
    font-weight: bolder;
    color: aliceblue;
    width: 110px;
    padding: 0px 8px;
}
.button li a{
    padding:5px 5px;
    text-decoration: none;
    font-family: 'BIZ UDGothic', sans-serif;
    justify-content: center;
    font-size: 12px;
    border-radius: 15px;
    font-family: 'BIZ UDGothic', sans-serif;
    background-color: rgb(0, 110, 255);
    font-weight: bolder;
    color: aliceblue;
    border: 1px solid rgb(255, 255, 255);
    z-index: -1;
}

.button li a:hover{
    border: 1px solid rgb(255, 255, 255);
    background-color: rgb(98, 0, 255);
    color:rgb(255, 255, 255);
    box-shadow:rgb(0, 0, 0) 1px 1px 0px;
    transition: 0.3s;
    top: -20px;
}
/*putting Responsiveness */

@media only screen and (max-width: 1600px){
    .main{
        left:0;
    }
.main {
    display: flex;
    font-family: 'Josefin Sans', sans-serif;
    align-items: center;
    justify-content: center;
    position: absolute;
    min-height: 10rem;
    margin: 5rem 11.5vw;
    padding: 50px 50px;
    border: 2px solid white;
    border-radius: 15px;
    box-shadow: rgb(3 3 3) 5px 10px 10px;
    width: max-content;
}
}
@media only screen and (max-width: 1500px){
    .main{
        left:0;
    }
.main {
    display: flex;
    font-family: 'Josefin Sans', sans-serif;
    align-items: center;
    justify-content: center;
    position: absolute;
    min-height: 10rem;
    margin: 5rem 11.5vw;
    padding: 50px 50px;
    border: 2px solid white;
    border-radius: 15px;
    box-shadow: rgb(3 3 3) 5px 10px 10px;
    width: max-content;
}
}
@media only screen and (max-width: 1400px){
    .main{
        left:0;
    }
.main {
    display: flex;
    font-family: 'Josefin Sans', sans-serif;
    align-items: center;
    justify-content: center;
    position: absolute;
    min-height: 10rem;
    margin: 5rem 8vw;
    padding: 50px 50px;
    border: 2px solid white;
    border-radius: 15px;
    box-shadow: rgb(3 3 3) 5px 10px 10px;
    width: max-content;
}
}

@media only screen and (max-width: 1300px){
    .main{
        display: flex;
        font-family: 'Josefin Sans', sans-serif;
        align-items:  center;
        justify-content: center;
        position: relative;
        min-height: 9rem;
        margin: 8rem auto;
        padding: 50px 50px;
        border: 2px solid white;
        border-radius: 15px;
        box-shadow:  rgb(3, 3, 3) 5px 10px 10px;
        width: max-content;
    }
    .info{
        width: max-content;
    }
}
@media only screen and (max-width: 1100px){
    .image img{
        z-index: 0;
    }
    .sidebar ul{
        background-color:rgb(43, 43, 43) ;
        padding:7px 4px;
        right: 2px;
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;
        z-index: 5000000;
    }
    .main{
        display: flex;
        font-family: 'Josefin Sans', sans-serif;
        align-items:  center;
        justify-content: center;
        position: relative;
        height: 25em;
        margin: 4rem auto;
        top: 40px;
        padding: 50px 50px;
        border: 2px solid white;
        border-radius: 15px;
        box-shadow:  rgb(3, 3, 3) 5px 10px 10px;
        width: max-content;
    }
    .info{
        width: max-content;
    }
}
@media only screen and (max-width: 600px) {
    body{
        width: max-content;
        height: max-content;
    }
    .image{
           position: absolute;
    left: 90px;
    top: -158px;
    }
    .image img{
        /* left: 37%; */
        height: 203px;
        width: 199px;
        z-index: 100;
    }
    .hello{
        font-size: 23px;
        font-family: 'Source Serif Pro', serif;
        font-weight: 200;
        color: #fb7500;
        z-index: -100;
        text-shadow: rgb(3, 3, 3) 5px 0px 10px;
    }
    .name{
        font-size: 30px;
        font-family: 'BIZ UDGothic', sans-serif;
        font-weight: 500;
        margin-top: 0px;
        color: rgb(255, 255, 255);
        z-index: -1000;
        text-shadow: rgb(3, 3, 3) 5px 0px 10px;
    }
    .name em{
        font-size: 12px;
        font-weight: 700;
        color: rgba(43, 218, 4, 0.639);
        text-shadow: none;
    }
    .info{
        z-index: -10;
        font-size: 20px;
        color:#00c0fb;
        margin-top: -3px;
        font-weight: 600;
        text-shadow: rgb(3, 3, 3) 5px 0px 10px;
    }
    .info p{
        font-size: 12px;
        width:470px;
        color: rgba(255, 255, 255, 0.462);
        margin-top: 10px;
        text-shadow: rgb(3, 3, 3) 5px 0px 10px;
        z-index: -1;
    }
    .info p em{
        font-size: 12px;
        width:700px;
        color: rgb(255, 255, 255);
        margin-top: 10px;
        text-shadow: none;
        
    }
    .button{
        display: flex;
        padding-left: 5px;
    }
    .button li{
        margin-top: 25px;
        list-style: none;
        font-weight: bolder;
        color: aliceblue;
        width: 70px;
       padding: 0px 5px;
    }
    .button li a{
        padding:4px 4px;
        text-decoration: none;
        font-family: 'BIZ UDGothic', sans-serif;
        justify-content: center;
        font-size: 8px;
        border-radius: 15px;
        font-family: 'BIZ UDGothic', sans-serif;
        background-color: rgb(0, 110, 255);
        font-weight: bolder;
        color: aliceblue;
        border: 1px solid rgb(255, 255, 255);
        z-index: -1;
    }
    
    .button li a:hover{
        border: 1px solid rgb(255, 255, 255);
        background-color: rgb(98, 0, 255);
        color:rgb(255, 255, 255);
        box-shadow:rgb(0, 0, 0) 1px 1px 0px;
        transition: 0.3s;
        top: -20px;
    }
.sidebar{
    flex-direction: row;
    height: 100vh;
    display: block;
    width: 125px;
    padding: 0px 10px;
   
    z-index: 1000000000000;
    transition: 0.3s cubic-bezier(0.44, 1.64, 0.11, 0.61);
}
.sidebarGo{
    transform: translate(-443px, 0px);
    position: absolute;
    
}
.sidebar ul{
    display: block;
    top: 2px;
    left:0px;
    width: max-content;
    background:none;
    border-top: none;
    border-left: none;
    border-bottom: none;
    border-top-left-radius: none;
    border-bottom-left-radius: none;
    background-color:none;
    
}

.sidebar ul li {
    list-style: none;
    margin-top: 65px;
    padding: 7px 7px;
    justify-content: center;
    text-align: center;
    background:none;
}
.sidebar ul li a{
    text-decoration: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: rgb(132, 0, 255) ;
    font-size: 12px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-shadow: rgb(46, 46, 46) 1px 1px 0px;
    padding: 4px;
    border: 1px solid white;
    border-radius:5px ;
}
.sidebar ul li a:hover{
    font-size: 12px;
    color: rgb(255, 254, 254);
    background:  rgb(0, 155, 252);
    transition: 0.2s;
}
.sidebar .ham{
    display: inline;
    position: absolute;
    top: 55px;
    left: 120px;
    z-index: 500000;
}
.sidebar .ham img{
    height: 23px;
    cursor: pointer;
    position: absolute;
    top: -47px;
    left: 330px;
}
.sidebar .ham .cross{
    height: 25px;
    position: absolute;
    top: -47px;
    left: 15px;
    cursor: pointer;
    z-index: 5000000000;
}
.main{
    position: fixed;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 157px;
    left: 0%;
    padding: 7px;
    width: max-content;
    border: none;
    box-shadow:none;
    z-index: -1;
}
.info p{
    width:250px auto;
    z-index: -1000;
    
}
.main .written{
    z-index: -1;
}

  }
@media only screen and (max-width: 500px){
 .image{
    position: fixed;
    left:109px;
    top: 60px;
}
.image img{
    /* left: 37%; */
    height: 193px;
    width: 189px;
    z-index: 100;
}
.hello{
    font-size: 23px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;;
    font-weight: 200;
    color: #00a542;
    z-index: -100;
    text-shadow: rgb(3, 3, 3) 5px 0px 10px;
}
.name{
    font-size: 30px;
    font-family: 'BIZ UDGothic', sans-serif;
    font-weight: 500;
    margin-top: 5px;
    color: rgb(255, 255, 255);
    z-index: -1000;
    text-shadow: rgb(3, 3, 3) 5px 0px 10px;
}
.name em{
    font-size: 12px;
    font-weight: 700;
    color: rgb(255, 102, 0);
    text-shadow: none;
}
.info{
    z-index: -10;
    font-size: 20px;
    color: rgb(0, 187, 255);
    z-index: -1;
    font-weight: 600;
    margin-top: 10px;
    text-shadow: rgb(3, 3, 3) 5px 0px 10px;
    width: 450;
}
.info p{
    font-size: 12px;
    width:370px;
    color: rgba(255, 255, 255, 0.464);
    margin-top: 10px;
    text-shadow: rgb(3, 3, 3) 5px 0px 10px;
    z-index: -1;
}
.info p em{
    font-size: 12px;
    width:700px;
    color: rgb(255, 255, 255);
    margin-top: 10px;
    text-shadow: none;
    
}
.button{
    display: flex;
    padding-left: 5px;
}
.button li{
    margin-top: 25px;
    list-style: none;
    font-weight: bolder;
    color: aliceblue;
    width: 70px;
   padding: 0px 5px;
}
.button li a{
    padding:4px 4px;
    text-decoration: none;
    font-family: 'BIZ UDGothic', sans-serif;
    justify-content: center;
    font-size: 8px;
    border-radius: 15px;
    font-family: 'BIZ UDGothic', sans-serif;
    background-color: rgb(0, 110, 255);
    font-weight: bolder;
    color: aliceblue;
    border: 1px solid rgb(255, 255, 255);
    z-index: -1;
}

.button li a:hover{
    border: 1px solid rgb(255, 255, 255);
    background-color: rgb(98, 0, 255);
    color:rgb(255, 255, 255);
    box-shadow:rgb(0, 0, 0) 1px 1px 0px;
    transition: 0.3s;
    top: -20px;
}
.sidebar{
flex-direction: row;
height: 100vh;
display: block;
width: 125px;
padding: 0px 10px;

z-index: 1000000000000;
transition: 0.3s cubic-bezier(0.44, 1.64, 0.11, 0.61);
}
.sidebarGo{
transform: translate(-443px, 0px);
position: absolute;

}
.sidebar ul{
display: block;
top: 0px;
left:0px;
width: max-content;
background: none;
border-top: none;
border-left: none;
border-bottom: none;
border-top-left-radius: none;
border-bottom-left-radius: none;
background-color:none;

}

.sidebar ul li {
list-style: none;
margin-top: 65px;
padding: 7px 7px;
justify-content: center;
text-align: center;
background:none;
}
.sidebar ul li a{
text-decoration: none;
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
background: rgb(123, 0, 255);
font-size: 12px;
color: rgb(255, 255, 255);
font-weight: bold;
text-shadow: rgb(46, 46, 46) 1px 1px 0px;
padding: 4px;
border: 1px solid white;
border-radius:5px ;
}
.sidebar ul li a:hover{
font-size: 12px;
color: rgb(0, 0, 0);
background-color: rgb(0, 145, 255);
transition: 0.2s;
}
.sidebar .ham{
display: inline;
position: absolute;
top: 50px;
left: 120px;
z-index: 500000;
}
.sidebar .ham img{
height: 21px;
cursor: pointer;
position: absolute;
top: -47px;
left: 330px;
}
.sidebar .ham .cross{
height: 27px;
position: absolute;
top: -47px;
left: 9px;
cursor: pointer;
z-index: 5000000000;
}
.main{
position: absolute;
margin-left: 10px;
margin-right: 10px;
margin-top: 42%;
left: 0%;
padding: 7px;
width: max-content;
border: none;
box-shadow:none;
z-index: -1;
}
.info{
    width:370px;
}
.info p{
width:350px ;
z-index: -1000;

}
.main .written{
z-index: -1;
}
  .info p, .info p em{
    font-size: 20px;
}
}
@media only screen and (max-width: 400px){
    .sidebar {
        height: 100vh;
    }
    .image{
        position: auto;
        left: 92px;
        top: 43px;
    }
    .main{
        margin-top: 36%;
        padding-left: 0%;
        margin: 12rem 5px;
    }
    .info p, .info p em{
        font-size: 20px;
    }
    }
@media only screen and (max-width: 300px){
    .main{
        margin-top: 150px;
        width: 250px;
    }

}
@media only screen and (max-width: 299px){
    .container{
      display: none;
    }
    .error{
        display:inline ;
        color: white;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        position: absolute;
        top: 50px;
        padding-left: 10px;
    }
    .error p{
        color: #00c0fb;
    }
}
